<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nju.mapper.SingerMapper">

    <select id="selectSinger" resultType="Singer">
        select *
        from tb_singer
        where singerName like #{singername};
    </select>

    <select id="selectAllSinger" resultType="Singer">
        select *
        from tb_singer;
    </select>

    <select id="selectOneSinger" resultType="Singer">
        select *
        from tb_singer
        where singerName = #{singername};
    </select>
</mapper>